<form action="/robots" method="post">
  <p>Enter new Robot:</p>
  Name: <input type='text' name='robot[name]'/><br/>
  City: <input type='text' name='robot[city]'><br/>
  State: <input type='text' name='robot[state]'><br/>
  Department: <input type='text' name='robot[department]'>
  <input type= 'submit'/>
</form>